*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wellfleet', cursive;
    /* font-family: 'Poly', serif; */
}
html{
    scroll-behavior: smooth;
}
.clr{
    clear: both;
}
.container{
    width: 80%;
    margin: 0 auto;
}
:root{
    --white: #fff;
    --black: #000;
    
    --black2: rgba(0,0,0,0.5);
    --black3: #333;
    --background: #D9D9D9;    
    --background2: #BBBBBB;
    --background3: #9AA8AA;
    --orange: #FF7A00;
    --orange2: #FF4C00;
    --orange3: #FF0000;
    --orange4: #FF4D00;
    --hoverColor: #FF9600;
    --brown: #6B2727;
    --brown2:#4F3636;
    --brown3: #422323;
}
.parent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.parent > [class*="col-"]{
   display: block;
   padding: 1rem;
}
.col-1{
    flex-basis: 8.33%;
    max-width: 8.33%;
}
.col-2{
    flex-basis: 16.66%;
    max-width: 16.66%;
}
.col-3{
    flex-basis: 24.99%;
    max-width: 24.99%;
}
.col-4{
    flex-basis: 33.32%;
    max-width: 33.32%;
}
.col-5{
    flex-basis: 41.65%;
    max-width: 41.65%;
}
.col-6{
    flex-basis: 49.98%;
    max-width: 49.98%;
}
.col-7{
    flex-basis: 58.31%;
    max-width: 58.31%;
}
.col-8{
    flex-basis: 66.64%;
    max-width: 66.64%;
}
.col-9{
    flex-basis: 74.97%;
    max-width: 74.97%;
}
.col-10{
    flex-basis: 83.3%;
    max-width: 83.3%;
}
.col-11{
    flex-basis: 91.63%;
    max-width: 91.63%;
}
.col-12{
    flex-basis: 100%;
    max-width: 100%;
}
/* Col With Responsive */
/* 1400 xxl */
@media(max-width: 1400px){
    .col-xxl-1{
        flex-basis: 8.33%;
        max-width: 8.33%;
    }
    .col-xxl-2{
        flex-basis: 16.66%;
        max-width: 16.66%;
    }
    .col-xxl-3{
        flex-basis: 24.99%;
        max-width: 24.99%;
    }
    .col-xxl-4{
        flex-basis: 33.32%;
        max-width: 33.32%;
    }
    .col-xxl-5{
        flex-basis: 41.65%;
        max-width: 41.65%;
    }
    .col-xxl-6{
        flex-basis: 49.98%;
        max-width: 49.98%;
    }
    .col-xxl-7{
        flex-basis: 58.31%;
        max-width: 58.31%;
    }
    .col-xxl-8{
        flex-basis: 66.64%;
        max-width: 66.64%;
    }
    .col-xxl-9{
        flex-basis: 74.97%;
        max-width: 74.97%;
    }
    .col-xxl-10{
        flex-basis: 83.3%;
        max-width: 83.3%;
    }
    .col-xxl-11{
        flex-basis: 91.63%;
        max-width: 91.63%;
    }
    .col-xxl-12{
        flex-basis: 100%;
        max-width: 100%;
    }
}
/* 1200  xl*/
@media(max-width: 1200px){
    .col-xl-1{
        flex-basis: 8.33%;
        max-width: 8.33%;
    }
    .col-xl-2{
        flex-basis: 16.66%;
        max-width: 16.66%;
    }
    .col-xl-3{
        flex-basis: 24.99%;
        max-width: 24.99%;
    }
    .col-xl-4{
        flex-basis: 33.32%;
        max-width: 33.32%;
    }
    .col-xl-5{
        flex-basis: 41.65%;
        max-width: 41.65%;
    }
    .col-xl-6{
        flex-basis: 49.98%;
        max-width: 49.98%;
    }
    .col-xl-7{
        flex-basis: 58.31%;
        max-width: 58.31%;
    }
    .col-xl-8{
        flex-basis: 66.64%;
        max-width: 66.64%;
    }
    .col-xl-9{
        flex-basis: 74.97%;
        max-width: 74.97%;
    }
    .col-xl-10{
        flex-basis: 83.3%;
        max-width: 83.3%;
    }
    .col-xl-11{
        flex-basis: 91.63%;
        max-width: 91.63%;
    }
    .col-xl-12{
        flex-basis: 100%;
        max-width: 100%;
    }
}
/* 992  lg*/
@media(max-width: 992px){
    .col-lg-1{
        flex-basis: 8.33%;
        max-width: 8.33%;
    }
    .col-lg-2{
        flex-basis: 16.66%;
        max-width: 16.66%;
    }
    .col-lg-3{
        flex-basis: 24.99%;
        max-width: 24.99%;
    }
    .col-lg-4{
        flex-basis: 33.32%;
        max-width: 33.32%;
    }
    .col-lg-5{
        flex-basis: 41.65%;
        max-width: 41.65%;
    }
    .col-lg-6{
        flex-basis: 49.98%;
        max-width: 49.98%;
    }
    .col-lg-7{
        flex-basis: 58.31%;
        max-width: 58.31%;
    }
    .col-lg-8{
        flex-basis: 66.64%;
        max-width: 66.64%;
    }
    .col-lg-9{
        flex-basis: 74.97%;
        max-width: 74.97%;
    }
    .col-lg-10{
        flex-basis: 83.3%;
        max-width: 83.3%;
    }
    .col-lg-11{
        flex-basis: 91.63%;
        max-width: 91.63%;
    }
    .col-lg-12{
        flex-basis: 100%;
        max-width: 100%;
    }
}
/* 768  md*/
@media(max-width: 768px){
    .col-md-1{
        flex-basis: 8.33%;
        max-width: 8.33%;
    }
    .col-md-2{
        flex-basis: 16.66%;
        max-width: 16.66%;
    }
    .col-md-3{
        flex-basis: 24.99%;
        max-width: 24.99%;
    }
    .col-md-4{
        flex-basis: 33.32%;
        max-width: 33.32%;
    }
    .col-md-5{
        flex-basis: 41.65%;
        max-width: 41.65%;
    }
    .col-md-6{
        flex-basis: 49.98%;
        max-width: 49.98%;
    }
    .col-md-7{
        flex-basis: 58.31%;
        max-width: 58.31%;
    }
    .col-md-8{
        flex-basis: 66.64%;
        max-width: 66.64%;
    }
    .col-md-9{
        flex-basis: 74.97%;
        max-width: 74.97%;
    }
    .col-md-10{
        flex-basis: 83.3%;
        max-width: 83.3%;
    }
    .col-md-11{
        flex-basis: 91.63%;
        max-width: 91.63%;
    }
    .col-md-12{
        flex-basis: 100%;
        max-width: 100%;
    }
}
/* 576  sm*/
@media(max-width: 576px){
    .col-sm-1{
        flex-basis: 8.33%;
        max-width: 8.33%;
    }
    .col-sm-2{
        flex-basis: 16.66%;
        max-width: 16.66%;
    }
    .col-sm-3{
        flex-basis: 24.99%;
        max-width: 24.99%;
    }
    .col-sm-4{
        flex-basis: 33.32%;
        max-width: 33.32%;
    }
    .col-sm-5{
        flex-basis: 41.65%;
        max-width: 41.65%;
    }
    .col-sm-6{
        flex-basis: 49.98%;
        max-width: 49.98%;
    }
    .col-sm-7{
        flex-basis: 58.31%;
        max-width: 58.31%;
    }
    .col-sm-8{
        flex-basis: 66.64%;
        max-width: 66.64%;
    }
    .col-sm-9{
        flex-basis: 74.97%;
        max-width: 74.97%;
    }
    .col-sm-10{
        flex-basis: 83.3%;
        max-width: 83.3%;
    }
    .col-sm-11{
        flex-basis: 91.63%;
        max-width: 91.63%;
    }
    .col-sm-12{
        flex-basis: 100%;
        max-width: 100%;
    }
}
